

/* @font-face {
  font-family: 'FAMILY_NAME';
  font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; 
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_RANGE_LOW_TO_HIGH;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}  */


/* @import url('https://fonts.googleapis.com/css2?family=Raleway&family=Boldonse&display=swap'); */
@import url('https://api.fontshare.com/v2/css?f[]=array@600&f[]=plein@701&display=swap');


.home-title {
  font-family: 'Array', sans-serif;
  font-size: 40px;
}

#banner-container-home {
  padding-top: 4rem;
}

#home-banner-text #home-banner-header {
  font-family: "Plein", sans-serif;
}

/* 
.page-header,
.section-title,
.article-title {
  font-size: 1.5em;
  font-weight: 700;
} */


